[Unit]
Description=iptables firewall service.
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/bin/firewall.sh start
RemainAfterExit=true
ExecStop=/bin/bash /usr/bin/firewall.sh stop
StandardOutput=journal

[Install]
WantedBy=multi-user.target
